input,
textarea,
body {
    font-size: 16px;
}

a {
    color: blue;
}
#right,
#left {
    padding: 10px;
}

#right {
    float: right;
    width: 50%;
}

#left {
    width: 50%;
}

#left div {
    margin-bottom: 10px;
    width: 100%;
}

#left textarea {
    width: 90%;
    height: 400px;
}

#left input[type=text] {
    width: 40%;
}

#left .title {
    width: 20%;
}

#left .input {
    float:right;
    width: 80%;
}

input[type=text] {
    width: 80%;
}
