<html>
<head>
    <title>Doppelganger</title>
    <link rel="icon" type="image/png" href="/static/favicon.ico">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script type="text/javascript" src="/static/script.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" />
    <link rel="stylesheet" href="/static/style.css" />
</head>
<body>
    <div id="right">
        Examples:<br />
        transcript:<br />
        &emsp;<a onclick="transcriptHelp()">help</a>,
        <a onclick="transcriptShowCompanies()">show</a>,
        <a onclick="transcriptInformationCompany()">information</a>,
        <a onclick="transcriptWebsiteCompany()">website</a>,
        <a onclick="transcriptHighlightCompany()">highlight</a>,
        <a onclick="transcriptSpeaking()">gordon speaking</a>,
        <a onclick="transcriptExpand()">expand</a>,
        <a onclick="transcriptGoodbye()">goodbye</a><br />
        parser:<br />
        &emsp;<a onclick="commandHelp()">help</a>,
        <a onclick="commandShowCompanies()">show</a>,
        <a onclick="commandInformationCompany()">information</a>,
        <a onclick="commandWebsiteCompany()">website</a>,
        <a onclick="commandHighlightCompany()">highlight</a>,
        <a onclick="commandSpeaking()">gordon speaking</a>,
        <a onclick="commandExpand()">expand</a>,
        <a onclick="commandGoodbye()">goodbye</a><br />
        gesture (Sample: <a onclick="addSampleGesture('zoom')">Zoom</a>, <a onclick="addSampleGesture('wipe')">Wipe</a>)<br />
        &emsp;cameraIDs: gestureMainScreen, gestureSideScreen1<br />
        headPose (<a onclick="addSampleHeadPose();">Sample</a>)<br />
        &emsp;cameraIDs: headPoseLeader, headPoseAudience1, headPoseAudience2, headPoseAudience3<br />
        position (<a onclick="samplePositionTracker()">Sample</a>)<br />

    </div>
    <div id="left">
        <form onsubmit="submitForm(); return false;">
            <div>
                Message:<br />
                <textarea id="message" name="message" placeholder="JSON Message"></textarea>
            </div>
            <div>
                <div class="input"><input id="exchange" type="text" name="exchange" /></div>
                <div class="title"><label for="exchange">Exchange</label>:</div>
            </div>
            <div>
                <div class="input"><input id="topic" type="text" name="topic" value="hello" /></div>
                <div class="title"><label for="topic">Topic</label>:</div>
            </div>
            <input type="submit" value="Submit" />
        </form>
    </div>

    <div id="status"></div>
</body>
</html>